.prose {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-subtitle {
    text-align: left;
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 0.4375rem;
}

.project-title {
    text-align: left;
    font-size: 2.25rem;
    font-weight: 600;
}

.project-description {
    text-align: left;
    font-size: 0.9375rem;
    font-weight: 400;
    white-space: pre-wrap;
    margin-top: 2rem;
    line-height: 1.375rem;
}

.project-tags {
    color: #aaaaaa;
    font-size: 0.625rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    text-align: left;
    margin-top: 3rem;
}

.project-tag {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}

.project-tag:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 1080px) {
    .project-subtitle {
        font-size: 1.1625rem;
    }
    .project-title {
        font-size: 1.625rem;
    }
    .project-description {
        margin-top: 1.25rem;
    }
    .project-tags {
        margin-top: 2rem;
    }
}