.prose {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
}

.project-subtitle {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.project-description {
    text-align: left;
    font-size: 0.875rem;
    font-weight: 400;
    white-space: pre-wrap;
    margin-top: 2rem;
}

.project-tags {
    color: #aaaaaa;
    font-size: 0.625rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    text-align: left;
    margin-top: 4.5rem;
}

.project-tag {
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 2.5rem;
}

.project-tag:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 900px) {
    .project-subtitle {
        margin-bottom: 0.5rem;
    }
    .project-description {
        margin-top: 1.25rem;
        line-height: 1.25rem;
    }
    .project-tags {
        margin-top: 2rem;
    }
}