.App {
  text-align: center;
}

.App-logo {
  min-height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #181d22;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
  background-image: url(mrossary.svg), none;
  background-repeat: repeat-x;
  background-size: 192vw;
  background-position-x: -12vw;
  background-position-y: 4vh;
  background-blend-mode: screen;
  padding: 0 calc(32px + 2vmin);
}

.header-title {
  text-align: center;
  font-weight: 300;
  color: white;
  margin: 0;
}

.header-intro {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1.5rem 0 4rem 0;
}

.header-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
}

.header-link {
  color: #c5beb0;
  font-size: 1.75rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .15rem;
  transition: color .15s;
  margin: 0 1.5rem;
}

.header-link:first-child {
  margin-top: 0;
  margin-left: 0;
}

.header-link:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.header-link:hover {
  color: #fff;
}

.contact-block {
  font-weight: 300;
  margin-top: 2rem;
  font-size: 1.25rem;
}

.email-link {
  color: #9ac4e6;
  text-decoration: none; 
  transition: color .15s;
}

.email-link:hover {
  color: #fff;
}

.App-link {
  color: #d2caaa;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {

  .App-header{
    background-position-y: 8vh;
    background-position-x: -16vw;
    background-size: 320vh;
  }

  .header-intro{
    font-size: 1.25rem;
    margin: 1.5rem 0 2rem 0;
  }

  .header-links{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-link{    
    margin: .75rem 0;
    font-size: 1.25rem;
    font-weight: 300;
  }
} 